<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="Tonight, we will live as if there are no other cares in the world but each other. Tonight is your day, and you deserve a special celebration. So, I am going to give it you.">
<meta name="author" content="Full Name">
<link rel="icon" type="image/x-icon" href="assets/img/me/favicon.ico">

<!-- Fonts -->
<link rel="preload" href="assets/fonts/Harmattan-Regular.ttf" as="font" type="font/ttf" crossorigin>
<link rel="preload" href="assets/fonts/Harmattan-Bold.ttf" as="font" type="font/ttf" crossorigin>

<link rel="preload" as="style" href="app.css">
<link rel="stylesheet" href="app.css" type="text/css">
<script defer src="assets/plugins/particles/particles.min.js"></script>
<title>Happy Birthday Natalia</title>